.git
.gitignore
.gitattributes

**/__pycache__/
**/*.py[cod]
*.so
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.vscode/
Dockerfile